<mat-action-list>

</mat-action-list>


<mat-accordion>
  <mat-expansion-panel *ngFor="let grade of students; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title class="flex-column justify-content-center">
        {{grade.name}}
      </mat-panel-title>
      <mat-panel-description class="flex-row justify-content-end">
        <button mat-mini-fab color="primary">
          <mat-icon aria-label="Send email to class">email</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card *ngFor="let student of grade.students; let j = index">
      <mat-card-content>
        <button mat-button class="text-left w-100" (click)="loadDetail(student.id)">
          <div class="row">
            <div class="col-3">{{student.last_name}}</div>
            <div class="col-9">{{student.first_name}}</div>

          </div>
        </button>
      </mat-card-content>
    </mat-card>

  </mat-expansion-panel>


</mat-accordion>
