<div class="staff-title">
  <div class="staff-box">
    <div class="row">
      <div class="col title">
        <div>{{faculty.designation.name}}</div>
      </div>
      <hr>
    </div>
    <div class="row content">
      <div class="col col-sm-3">{{ faculty.staff.first_name }} {{ faculty.staff.last_name }}</div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Email</div>
      <div class="col">{{ faculty.staff.email }}</div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Phone</div>
      <div class="col">{{ faculty.staff.phone}}</div>
    </div>
  </div>
</div>
