<div class="family-title">
  <div class="family-box">
    <div class="row">
      <div class="col title">
        <div>{{student.family.name}} Family</div>
      </div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Address</div>
      <div class="col">
        <div>{{student.parents[0].address}}</div>
      </div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Home Phone</div>
      <div>{{student.parents[0].phone}}</div>
    </div>
  </div>
</div>


<div class="family-detail">
  <div class="student-box" *ngFor="let parent of student.parents">
    <div class="row">
      <div class="col title">{{parent.first_name}} {{parent.last_name}}</div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Email</div>
      <div class="col">{{parent.email}}</div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Cell Phone</div>
      <div class="col">{{parent.phone}}</div>
    </div>
  </div>




  <div class="children" *ngFor="let child of student.students">
    <div class="row">
      <div class="col title">{{child.first_name}} {{child.last_name}}</div>
    </div>
    <div class="row">
      <div class="col content">{{child.grade.name}}</div>
    </div>
  </div>


</div>
