
.family-box .title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
}

.family-detail > div {
  margin-top: 2rem;

}

.title {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1px solid #cccccc;

}

.content {
  margin-left: 2.5rem;
}
