<div class="family-title">
  <div class="family-box">
    <div class="row">
      <div class="col title">
        <div>{{student.family}} Family</div>
      </div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Address</div>
      <div class="col">
        <div>{{student.address1}}</div>
        <div>{{student.address2}}</div>
      </div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Home Phone</div>
      <div class="col">{{student.phone}}</div>
    </div>
  </div>
</div>


<div class="family-detail">
  <div class="student-box">
    <div class="row">
      <div class="col title">{{student.p1FistName}} {{student.p1LastName}}</div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Email</div>
      <div class="col">{{student.p1Email}}</div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Cell Phone</div>
      <div class="col">{{student.p1Phone}}</div>
    </div>
  </div>


  <div class="student-box">
    <div class="row">
      <div class="col title">{{student.p2FistName}} {{student.p2LastName}}</div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Email</div>
      <div class="col">{{student.p2Email}}</div>
    </div>
    <div class="row content">
      <div class="col col-sm-3">Cell Phone</div>
      <div class="col">{{student.p2Phone}}</div>
    </div>
  </div>

  <div class="children" *ngFor="let child of student.children">
    <div class="row">
      <div class="col title">{{child.firstName}} {{child.lastName}}</div>
    </div>
    <div class="row">
      <div class="col content">{{child.class}}</div>
    </div>
  </div>


</div>
